versions:
  - caddy_version: '2.4.6'
    is_major: true
    is_latest: true
    dist_commit: 2f23e8a67eba98613ba87f2d04768f6b28875386
    checksums:
      amd64: ecdcf8ecf6ba92032b27bc935e3ca18b192b25ff54ecfc26bc685ac71c6fe66a6d387cfd085d786533e20f3df3db86e18709a9556d86f1745e9358cc0984973e
      arm32v6: 7d14b1a14a632fff0d82c6e8621c729319befa36b9be9ed2d0309170818e484b8280df4c78538460697afdec59f9781365cc89ac9183310bf15370d56d37ec28
      arm32v7: c5bc52232ce5cd8f4d91e03996cce9404568804fe6f0e97e79a2d595cadc21918b45fc9c7bc5b4da50a8e02f865391de39ececdeda30dfc592d8f3a5bda6e289
      arm64v8: c521f56e6332bb51fb5b9df9c6b790d3a1dc64731ac71bca8d798681b40d912ca54b70f64438efd7e7c926a7a3f7f4daf674080b5be9bfb6bb648238aaba09db
      ppc64le: 22b20f463c0b5963165fa26c29d3cd30518b85ab3ed1a2f3104c708abc0690b18bacb0ba3f0468ad58bee41472f01d2f9a37fa67a23b422b0070f76c38f3c667
      s390x: 949f31cd4a9117c5ac23f195f5d50968ac3cd0cfa6ac3d7040c662a4a39679642f36cb42d9185f502e9887b147628e2c5dc402a06d01f00552a5ba9dfe774f09
      windows_amd64: 08fe8b50664644f5672a7357a7fe4c4835828c2464965ad78ec5f483dd2cd5643c64ea929d2f131601c48d71d2ddaebe251eb608d435ae1e31abe39d0687aebb
  - caddy_version: '2.5.0-beta.1'
    is_major: false
    is_latest: false
    dist_commit: 2f23e8a67eba98613ba87f2d04768f6b28875386
    checksums:
      amd64: 4624dd27b7b53a0b82e17bfb64901eece99ffd943af888f3815e20e0b55c1aaadc15c6f517d985ffcf911e21ef9cb78a044661407a6d4e3c543f2cceede53f7e
      arm32v6: 8615a6aacd10cb2e74f169ae1756ecd8508521791e511f8eca0dfc05f312aae5822b209787f4917c722a01e943f9317b35c8aa436c9086239e564079ef270078
      arm32v7: dc7c70efaaed0df7c6af959dd61ce79cae8d1217c6a8a68196eaef92438bd51a019f40dbc4e2f112c8ef8d01312d2e7bc8efc40d5e91342b8dba78ed2407e7da
      arm64v8: 50065feb4b20f1c6f2fb4305047f8cd5eca8eb6dae478944c93078402905513c715c5bbbad43a3c90a766c6b75bb18de53023a8e07238733d6436a8a18960162
      ppc64le: c36537aa861ae9bb41db661ed8dd2e04c1904bd25a0d600b5ee2aa94f8ab7724bc3003e8708f7a41204b42d30b80b53e9655f0bf8fd91bfea36f75d5ddd76534
      s390x: 26d6be36fb481e2483308cbd97a20b1c1ebc4d332157b9ff440edb33f825787cd205bf5f5a2fdaef1c214fb8a3c2a497db8fd8b58844d885d83f223f119c4034
      windows_amd64: d3823cb9ec107805c996e0de561c460a8d865698362c6ba842a69503af693d8f7db8ac418abffc4b7110a273d0b8be50168f8a5bcc0dc4da1e81fd1a4271f9d2
xcaddy_config:
  version: '0.2.1'
  checksums:
    amd64: 30621f45934c6450dcf6ca790f2763a334ce58048a50e6d2b552a145da6cc0b79e454724d9953483794119c1b90555a8657e6311940cb37dd21c193e22459252
    arm32v6: 5d1265a07be13aa9f2c9d8ad9a75d5658bca1dfc66c2b1b100b517edf4ac7a1fe18494c7b01b3856102e1cfc912912d049393accd8b1ef22f73bfc22bb27daec
    arm32v7: 04e1b4c14def100db4c2da0c08d2bd48f1e965a6250763659a5e435d2815559483f7ce533e36cca9a15709508deab133972b19ff87a76f15ea01876a62e49edf
    arm64v8: e4cabca39b61c6a7956b828e9b1e1c39e802b65a1c1e3ce44d93bcffaafce6625884315815051f08209deb53a294101bf9c60ffbf000ac8ce2ba38a13e8e2287
    ppc64le: ff1cc638ee18ce3ef36097547db9cdc3ff27f8ce46d8df50273663655ccea909a8396a01b4a144d57ad7e896ec6aef052c31f516c2a9c7e08d04a27228cf1c42
    s390x: 335a7436927378508e0d55b74898b8d36f73f7a8ceaaa038c0ac054ab79c96b77acb642fb7881a07358b161e6e54efb8db0eacd0bd10f8f151698de517bffa0b
    windows_amd64: fc6f2a7feb8f0936a0e04d3c9ea26d0404c2f4907eb436eb60e33152c22c1211f851c46606573fcb5c3334f8cc4f7f810b28b917a9f313f6454d1c5cd0f50f8a
# configuration for the stackbrew.tmpl template
variants:
  - dir: alpine
    tags: [ "alpine" ]
    shared_tags: [ "latest" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, s390x ]
  - dir: builder
    tags: [ "builder-alpine" ]
    shared_tags: [ "builder" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, s390x ]
  - dir: windows/1809
    base_file: Dockerfile.windowsservercore-1809.base
    tags: [ "windowsservercore-1809" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-1809 ]
  - dir: windows/ltsc2016
    base_file: Dockerfile.windowsservercore-ltsc2016.base
    tags: [ "windowsservercore-ltsc2016" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2016 ]
  - dir: windows/ltsc2022
    base_file: Dockerfile.windowsservercore-ltsc2022.base
    tags: [ "windowsservercore-ltsc2022" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
  - dir: windows-builder/1809
    tags: [ "builder-windowsservercore-1809" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-1809 ]
  - dir: windows-builder/ltsc2016
    tags: [ "builder-windowsservercore-ltsc2016" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2016 ]
  - dir: windows-builder/ltsc2022
    tags: [ "builder-windowsservercore-ltsc2022" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
