versions:
  - caddy_version: '2.7.6'
    is_major: true
    is_latest: true
    dist_commit: cd39178d252a610fee6aa8465c787d9c780007a2
xcaddy_config:
  version: '0.3.5'
# configuration for the stackbrew.tmpl template
variants:
  - dir: alpine
    tags: [ "alpine" ]
    shared_tags: [ "latest" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, s390x ]
  - dir: builder
    tags: [ "builder-alpine" ]
    shared_tags: [ "builder" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, s390x ]
  - dir: windows/1809
    base_file: Dockerfile.windowsservercore-1809.base
    tags: [ "windowsservercore-1809" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-1809 ]
  - dir: windows/ltsc2022
    base_file: Dockerfile.windowsservercore-ltsc2022.base
    tags: [ "windowsservercore-ltsc2022" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
  - dir: windows-builder/1809
    tags: [ "builder-windowsservercore-1809" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-1809 ]
  - dir: windows-builder/ltsc2022
    tags: [ "builder-windowsservercore-ltsc2022" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
