versions:
  - caddy_version: '2.11.0-beta.1'
    is_major: false
    is_latest: false
    dist_commit: 33ae08ff08d168572df2956ed14fbc4949880d94
  - caddy_version: '2.10.2'
    is_major: true
    is_latest: true
    dist_commit: 33ae08ff08d168572df2956ed14fbc4949880d94
xcaddy_config:
  version: '0.4.5'
# configuration for the tmpl/stackbrew.tmpl template
variants:
  - dir: alpine
    tags: [ "alpine" ]
    shared_tags: [ "latest" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, riscv64, s390x ]
  - dir: builder
    tags: [ "builder-alpine" ]
    shared_tags: [ "builder" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, riscv64, s390x ]
  - dir: windows/ltsc2022
    tags: [ "windowsservercore-ltsc2022" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
  - dir: windows/ltsc2025
    tags: [ "windowsservercore-ltsc2025" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2025 ]
  - dir: windows-nanoserver/ltsc2022
    tags: [ "nanoserver-ltsc2022" ]
    shared_tags: [ "nanoserver" ]
    architectures: [ windows-amd64 ]
    constraints: [ nanoserver-ltsc2022, windowsservercore-ltsc2022 ]
  - dir: windows-nanoserver/ltsc2025
    tags: [ "nanoserver-ltsc2025" ]
    shared_tags: [ "nanoserver" ]
    architectures: [ windows-amd64 ]
    constraints: [ nanoserver-ltsc2025, windowsservercore-ltsc2025 ]
  - dir: windows-builder/ltsc2022
    tags: [ "builder-windowsservercore-ltsc2022" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
  - dir: windows-builder/ltsc2025
    tags: [ "builder-windowsservercore-ltsc2025" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2025 ]