versions:
  - caddy_version: '2.5.2'
    is_major: true
    is_latest: true
    dist_commit: 69bb1c539b3ee03fc91271a71653a77ca1e9d131
    checksums:
      amd64: b19eb832e341f7bdb1c6fec2333564745a38f9aa814a14e7843a1b20468e0cdc6547977d3ae5a63d687dd7b9a68f90792e228020bf2481f916d9982322361632
      arm32v6: de401bdf04f67647df89439292726c3a37d833edd7313a72fe47d45aa18c93aa6ef5b8718ffc8accb70cd356c0e62fc1a18808cd4e2de2357e80d44aef168d19
      arm32v7: 3fda191727748eb23805e0e765b5794333a31c265879d7d54af6ddaa94cef14534c8ea993a231cbf94855c388a9c9a613be64260e2a8add6cc8ae230c218c59e
      arm64v8: b71a6c7961b4b7acda6ec71b70db2e8695572196a283a56eb910d3da08867e6f298c6cf34c12ebc35235f3de3bc833109596b56a3560b03ca1c3bcdb53b59372
      ppc64le: 5c98c82b64dab878fdbd158d7b162c2bdb36ea9606b1c06b0c04ee2060e6a42f169c876c70eb3558acd37e25395c3ed1764c5753ede79a9e05dbf03cef69d410
      s390x: 7c86521e8d3e75899f91106863e46a43be3cd76b5ae63be81e735ad849182b0c08a98b7f8cdd3d975aed9b4e741ed02b42fa8435ca95d893bb00850a53b78a5c
      windows_amd64: b104d364a458f457bab24f12f97470612035f705fceb170ce16b567e18e0429a18a726f6b1bb435f92d28a659aee52c08c0bac3be41b7f23887b8e7307507482
xcaddy_config:
  version: '0.3.0'
  checksums:
    amd64: b19eb832e341f7bdb1c6fec2333564745a38f9aa814a14e7843a1b20468e0cdc6547977d3ae5a63d687dd7b9a68f90792e228020bf2481f916d9982322361632
    arm32v6: de401bdf04f67647df89439292726c3a37d833edd7313a72fe47d45aa18c93aa6ef5b8718ffc8accb70cd356c0e62fc1a18808cd4e2de2357e80d44aef168d19
    arm32v7: 3fda191727748eb23805e0e765b5794333a31c265879d7d54af6ddaa94cef14534c8ea993a231cbf94855c388a9c9a613be64260e2a8add6cc8ae230c218c59e
    arm64v8: b71a6c7961b4b7acda6ec71b70db2e8695572196a283a56eb910d3da08867e6f298c6cf34c12ebc35235f3de3bc833109596b56a3560b03ca1c3bcdb53b59372
    ppc64le: 5c98c82b64dab878fdbd158d7b162c2bdb36ea9606b1c06b0c04ee2060e6a42f169c876c70eb3558acd37e25395c3ed1764c5753ede79a9e05dbf03cef69d410
    s390x: 7c86521e8d3e75899f91106863e46a43be3cd76b5ae63be81e735ad849182b0c08a98b7f8cdd3d975aed9b4e741ed02b42fa8435ca95d893bb00850a53b78a5c
    windows_amd64: b104d364a458f457bab24f12f97470612035f705fceb170ce16b567e18e0429a18a726f6b1bb435f92d28a659aee52c08c0bac3be41b7f23887b8e7307507482
# configuration for the stackbrew.tmpl template
variants:
  - dir: alpine
    tags: [ "alpine" ]
    shared_tags: [ "latest" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, s390x ]
  - dir: builder
    tags: [ "builder-alpine" ]
    shared_tags: [ "builder" ]
    architectures: [ amd64, arm64v8, arm32v6, arm32v7, ppc64le, s390x ]
  - dir: windows/1809
    base_file: Dockerfile.windowsservercore-1809.base
    tags: [ "windowsservercore-1809" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-1809 ]
  - dir: windows/ltsc2022
    base_file: Dockerfile.windowsservercore-ltsc2022.base
    tags: [ "windowsservercore-ltsc2022" ]
    shared_tags: [ "windowsservercore", "latest" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
  - dir: windows-builder/1809
    tags: [ "builder-windowsservercore-1809" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-1809 ]
  - dir: windows-builder/ltsc2022
    tags: [ "builder-windowsservercore-ltsc2022" ]
    shared_tags: [ "builder" ]
    architectures: [ windows-amd64 ]
    constraints: [ windowsservercore-ltsc2022 ]
