name: Release Tagged

on:
  repository_dispatch:
    types: [release-tagged]
  # TODO: Remove after done testing
  pull_request:
    branches: 
      - master

jobs:
  release-tagged:
    runs-on: ubuntu-latest
    container:
      image: hairyhenderson/dockerfiles-builder:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # We disabled yq for now because of an upstream bug with whitespace
      # See https://github.com/mikefarah/yq/issues/343
      # - name: Install yq
      #   run: |
      #     sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys CC86BB64
      #     sudo add-apt-repository ppa:rmescandon/yq
      #     sudo apt update
      #     sudo apt install yq -y

      - name: Update stackbrew config
        env:
          # TODO: Switch to event payload tag
          TAG: v2.0.0-rc.3
          # TAG: ${{ github.event.client_payload.tag }}
        run: |
          # Get the checksums file from the tagged release
          echo "Downloading checksums for ${TAG}..."
          wget -q https://github.com/caddyserver/caddy/releases/download/${TAG}/caddy_${TAG#v}_checksums.txt -O checksums.txt
          echo ""

          # Update the version tag in the config
          echo "Updating version to '${TAG#v}'"
          sed -i "s/caddy_version: .*/caddy_version: ${TAG#v}/" stackbrew-config.yaml
          # yq write -i stackbrew-config.yaml caddy_version ${TAG#v}

          # The keys in the stackbrew-config we want to update
          arches=(
            amd64
            arm32v6
            arm32v7
            arm64v8
            windows_amd64
          )

          # The names of the archives in the checksums file
          archive_names=(
            linux_amd64
            linux_armv6
            linux_armv7
            linux_arm64
            windows_amd64
          )

          # Get the last index for the loop
          last=$(expr "${#arches[@]}" - 1)

          for i in $(seq 0 $last); do
            # Grab the current arch from the list
            arch="${arches[i]}"

            # Get the checksum of the archive for this arch
            checksum=$(awk "/${archive_names[i]}/{print \$1}" checksums.txt)

            # Update the checksum in the config
            printf "Updating checksum for %-14s\t${checksum:0:32}...\n" "${arch}"
            sed -i "s/\b${arch}: .*/${arch}: ${checksum}/" stackbrew-config.yaml
            # yq write -i stackbrew-config.yaml checksums.${arch} ${checksum}
          done

          rm checksums.txt
          echo "All done!"
          echo ""

          git diff

      - name: Run make all
        run: |
          make all
          git diff

      # - name: Create Pull Request
      #   uses: peter-evans/create-pull-request@v2
